@import "config.css";

*{
    margin: 0;
}

body{
    background-color:#F5F4C9;
}
.navegacao{
    background-color: #D21A19;
    height:70px;

}
.navegacao_pizzas{
    background-color: #000;
    height:40px;
}
.barra_menor{
    background-color: white;
    border-radius:50px;
    height:50px;
    position:relative;
    top:10px;
}
#foto_pizzaria{
    margin-bottom:20%;
}
#logo{
    position: absolute; 
    left: 730px; 
    top: 350px;
}

.tit_cardapio{
    background-color: #43A643;
    font-size:40px;
    display:inline-block;
}
.barra_verde{
    background-color: #43A643;
    font-size:40px;
    display:inline-block;
    width:100%;
}
.barra_verde .tipo{
    margin-left: 1%;
    margin-right: 7%;   
    color:yellow;
}
.barra_verde .preco_grande{
    font-size:30px;
    margin-right:2%;
}
.barra_verde .preco_broto{
    margin-left:2%;
    font-size:30px;
}

.container_total{
    border: 1px solid black;
    width: 300px;
    position: relative;
    margin:20px;
    display: inline-block;
    box-sizing:border-box;
}

.img_pizza{
    background-color:gray;
    width: 100%;
    position: relative;
    display: block;
}

.desc_pizza{
    display: block;
    position: relative;
    background-color:white;
    width: 100%;
    height:200px;
    padding:5px;
    box-sizing:border-box;
<<<<<<< HEAD
   
}
.nome_pizza{
    font-size:25px;
}
.ingredientes{

=======
>>>>>>> d537b6bbce8888bfb54c8afa6b95f11fe260e17d
}