@import "config.css";

*{
    font-family: 'Roboto';
    color: black;
    font-size: 2vw;
    border: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

#navContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--verm_princ);
    width: 100%;
}

#nav, figure{
    border-radius: 10px;
    margin: .5%;
}

#nav{
    background-color: white;
    width: 45%;
    display: flex;
}

ul{
    width: 100%;
    position: relative;
    padding: 2%;
    text-align: center;
}

li{
    display: inline;
    padding: 0.5%;
}

.after ::after{
    content: ' | ';
}

figure{
    width: 30%;
    background-color: white;
    display: flex;
}

img{
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 1%;
}

@media screen and (max-width: 960px){
    #nav{
        display: none;
    }
}