@import "config.css";

*{
    font-family: 'Roboto';
    color: black;
    font-size: 2vw;
    border: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: var(--verm_princ);
}

div{
    display: block;
}

nav, figure{
    position: relative;
    padding: 2%;
    display: inline-grid;
    margin: 0 auto;
    height: 10%;
    border-radius: 10px;
}

nav{
    background-color: white;
    
}

li{
    display: inline;
}

li::after{
    content: ' | ';
}

figure{
    background-color: var(--verde_fraco);
}

img{
    position: relative;
    width: 100%;
}